body {
	background-image: url(https://clck.ru/PYydU);
}

#Logo1 {
	font-weight: 900;
	font-size: 50px;
}


#Vk {
	margin-left: 10px;
}

.games {
	color: #0013ba;
	font-size: 32px;
	font-weight: 900;
	box-shadow: 
}