body {
	background-image: url(https://clck.ru/PYydU);
}

#news {
	font-size: 18px;
}

#down {
	background-color: black;
	border: 2px solid black;
	border-radius: 25px;	
	padding: 10px;
	margin-top: 150px;	
}

#adres {
	color: white;
	font-size: 16px	;
	text-align: center;
}

#contact {
	text-align: right;
	font-size: 16px;
	color: white;
}